@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
html {
  font-size: 62.5%;
}

body {
  background-image: url("/res/img/img3.jpg");
  opacity: 0.96;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 110vh;
  width: 110vw;
  color: #fff;
}
.bg-image {
  background-image: url("/res/img/img3.jpg");
  filter: blur(6px);
  -webkit-filter: blur(6px);
  height: 100vw;
  overflow-y: visible;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 110vh;
  width: 110vw;
}
#select-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  background: #fff;
  padding: 20px 25px 25px;
  border-radius: 10px;
  max-width: 47rem;
  width: 100% !important;
  /* height: 46% !important; */

  background: linear-gradient(180deg, #2b2d47 10%, #181926);
}
#select-box.hide {
  opacity: 0;
  pointer-events: none;
}
#select-box header {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-left: 30%;
  border-bottom: 1px solid #fff;
  color: #fff;
}
#select-box .title {
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0;
}
#select-box .options {
  display: flex;
  width: 100%;
}
.options button {
  width: 95%;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  /* background: #00bbf0; */
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgb(77, 109, 199);
}
.options button:hover,
.btn button:hover {
  transform: scale(0.96);
}
.options button {
  margin-right: 5px;
}
.options button.friend,
.options button.X {
  margin-left: 5px;
}
#select-box .credit {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
#select-box .credit a {
  color: #00bbf0;
  text-decoration: none;
}
.enternames input {
  all: none;
  margin-left: 10%;
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
  border: 2px solid black;
}
.start {
  margin-top: 30px;
  margin-left: 3px;
}
.reset {
  width: 65px;
  height: 35px;
  border: none;
  color: blue;
  font-size: 20px;
  float: right;
  /* visibility: hidden; */
  display: none;
  margin-top: 1rem;
  cursor: pointer;

  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
  border-radius: 1rem;
}
.home {
  width: 65px;
  height: 35px;
  height: 0;
  border: none;
  color: blue;
  font-size: 20px;
  float: left;
  display: none;
  /* visibility: hidden; */
  margin-top: 1rem;
  cursor: pointer;
  /* background: #00bbf0 !important; */
}

#turn {
  float: left;
  font-weight: bold;
  background-color: rgb(219, 217, 82);
  padding: 7px;
  display: none;
  margin: 38px auto 0px;
  color: black;
  /* margin-left: 4.5vw;
  margin-top: 3px; */
  /* padding-bottom: 0; */

  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  transform: scale(1);
  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
  transition: 0.5s;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 109, 199);
  border-radius: 1rem;
  width: 15rem;
  height: 15rem;
  font-size: 12rem;
  text-align: center;
  cursor: pointer;
  opacity: 100%;
  font-size: 12rem;
  text-align: center;
  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
}

.box:first-of-type,
.box:nth-of-type(2),
.box:nth-of-type(3) {
  border-top: 0;
}

.box:nth-of-type(3n + 1) {
  border-left: none;
}
.box:nth-of-type(3n + 3) {
  border-right: none;
}
.box:last-of-type,
.box:nth-child(8),
.box:nth-child(7) {
  border-bottom: none;
}

.board {
  border: none;
  display: none;
  margin-top: 0rem;
  /* margin-left: 8.7rem; */
  grid-gap: 0.6rem;
  /* background-color: black; */
  grid-template-columns: repeat(3, 12rem);
  grid-template-rows: repeat(3, 12rem);
  /* visibility: hidden; */
  /* height: 0px; */
  font-size: 50px;
  color: aqua;
  font-weight: 900;
}
#x_score {
  float: left;
  font-weight: bold;
  /* height: 23px !important; */
  background-color: rgb(219, 217, 82);
  padding: 0.6rem;
  visibility: hidden;
  color: black;
  font-weight: 900;
  font-size: 2rem;
  border-radius: 10px;
  transform: scale(1);
  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
  transition: 0.5s;
}

#o_score {
  float: right;
  font-weight: 900;
  /* height: 23px !important; */
  background-color: rgb(219, 217, 82);
  padding: 0.6rem;
  visibility: hidden;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 10px;
  transform: scale(1);
  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
  transition: 0.5s;
}
#result {
  text-align: center;
  padding: 0%;
  /* margin-bottom: -10px; */
  padding-top: 10px;
  font-size: 2.3rem;
  font-weight: bold;
  clear: both;
  visibility: hidden;
  height: 50px !important;
  width: 100% !important;
  padding-top: 0;
  /* margin-left: 7vw; */
  margin: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
header {
  padding-left: 3.5vw;
}
#mute {
  width: 50px;
  height: 50px;
  margin-right: -30px !important;
  padding-right: -10px;
  cursor: pointer;
  margin-top: 5rem;
}
#mutebutton {
  padding-left: -40px;
  margin-left: -63px !important;
  max-width: 20px;
  float: left;
  cursor: pointer;
  margin-top: 5.9rem;
}

@media (max-width: 768px) {
  #select-box {
    width: 30rem !important;
    /* height: 19% !important; */
  }
  .square {
    width: 10rem !important;
    height: 10rem !important;
    font-size: 9rem !important;
  }
}
